<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <!-- SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">

  <!-- TITLE -->
    <title>Baze | React-Redux Starter Template</title>

  <!-- FAVICON -->
    <link rel="shortcut icon" href="/img/favicon.ico">
  </head>

  <body>
    <p>
      Welcome to {{ title }}
    </p>
    <script src="/js/bundle.js" async></script>
  </body>
</html>
